html{
	font-size: 1.5em;
	color: #222;
}

body{
	padding: 1rem;
	padding-bottom: 2rem;
}

* {
	box-sizing: border-box;
	line-height: 1rem;
	font-size: 0.66666rem;
	margin:0;
}

p, ul, li, h1, h2, h3, h4, h5, h6,
pre{
	max-width: 30rem;	
}

.wide {
	overflow-x: auto;
}

.wide, .wide *{
	max-width: none;
	text-align: center;
}

pre{
	overflow-x: auto;
	background-color: #eee;
	padding-left: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin: 0 auto;
}

ul, ol{
	padding-left: 2rem;
}

p {
	margin-top: 1rem;
	text-align: justify;
}

img{
	vertical-align:bottom;
}

h1, h2, h3, h4{
	margin-top: 1rem;
	line-height:2rem;
	color: #333;
}

h1{
	font-size:1.75rem;
}

h2{
	font-size: 1.4rem;
}

h3 {
	font-size: 1.1rem;
}

h4 {
	font-size: .85rem;
}

body > * {
	margin-left: auto;
	margin-right: auto;
}

code {
	white-space: pre;
	background-color: #e6e6e6;
	padding: 0 .25rem;
	display: inline-block;
	height: .9rem;
}

pre > code {
	background: none;
	padding: 0;
	display: unset;
	height: unset;
}

@keyframes target {
	from {
		background-color: yellow;
	}
	to {
		background-color: transparent;
	}
}

*:target {
	animation: 2s target;
	animation-fill-mode: both;
}

h3 + h4 {
	margin-top: 0;
}

.wide pre {
	display: inline-block;
	padding-right:1rem;
	text-align: left;
}

h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	margin-top: 0;
}

div.sourceCode {
	margin-top: 1rem;
}